.container{
    background-color: lightblue;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Head{
    font-size: 40px;
    font-family: inherit;
}
.main{
    background-color: rgb(123, 4, 234);
    border-radius: 20px;
    width:30vw;
}
.main input{
    height: 5vh;
    width: 20vw;
    text-align: center;
    border-radius: 20px;
    text-transform: uppercase;
}
.main i{
    margin-left: 10px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
    background-color: lawngreen;
}
.image img{
height: 20vh;
}
.winfo h1{
font-size: 45px;
}
.winfo h2{
    color:darkorange;
}
.Humdity_wind{
    display: flex;
    justify-content: space-around;
}
.Humdity{
    display: flex;
    
}
.Humdity img{
    height: 15vh;
    width: 8vw;
}
.wind{
    display: flex;
}

.wind img{
    height: 15vh;
    width: 8vw;
}
.error p{
    text-align: left;
    margin-left: 70px;
 color: rgb(195, 181, 209);
}